:root {
  --cinza-escuro: #424242;
  --cinza: #757586;
  --cinza-claro: #c1c1c1;
  --cinza-muito-claro: #e5e5e5;
  --pink: #ff0778;
  --pink2: #f11075;
  --pink-escuro: #ad1457;
  --branco: #fff;
}

.pink {
  background-color: var(--pink);
}

.light {
  background-color: var(--branco);
}

.container {
  height: 100%;
}

.pa-1 {
  padding: 10px;
}

.ma-1 {
  margin: 10px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: column;
}

.title {
  text-transform: uppercase;
  font-size: 29px;
  line-height: 1.3;
}

.sub-title {
  line-height: 3;
  font-size: 20px;
}

.title,
.sub-title {
  color: var(--branco);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-bottom: 10px;
}
